# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.ipynb_checkpoints/

# Environnements virtuels
.venv/
venv/
env/

# LaTeX
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.lof
*.lot
*.listing

# Système / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp